<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZooAnimal</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<nav class="fixed-menu">
    <ul>
        <li><a th:href="@{/main}">Strona główna</a></li>
        <li><a th:href="@{/animals}">Zwierzęta</a></li>
        <li><a th:href="@{/employee}">Pracownicy</a></li>
        <li><a th:href="@{/documents}">Dokumenty</a></li>
        <li><a th:href="@{/tasks}">Zadania</a></li>
        <li><a href="#">Ustawienia</a></li>
        <li><form th:action="@{/logout}" method="post"><button type="submit">Wyloguj się</button>
        </form></li>
    </ul>
</nav>
<br><br>
<h1>Dodaj zwierzę:</h1>
<form th:action="@{/add-animal}" method="post" th:object="${animal}" enctype="multipart/form-data">
<label for="name">Imię zwierzęcia:</label>
<input type="text" id="name" th:field="*{name}" required>
<label for="species">Gatunek:</label>
<input type="text" id="species" th:field="*{species}" required>
    <label>Zdjęcie:</label>
    <input type="file" name="image"><br>
    <button type="submit">Dodaj zwierzę</button>
</form>
<div th:if="${success}" style="color:green;">
    Zwierzątko dodane!!!
</div>
    <div th:if="${error}" style="color:red;">
        Dodanie zwierzątka nie powiodło się
    </div>

<a th:href="@{/animals}">Zobacz nasze zwierzęta</a>

</body>
</html>