<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZooAnimal</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<nav class="fixed-menu">
    <ul>
        <li><a th:href="@{/main}">Strona główna</a></li>
        <li><a th:href="@{/animals}">Zwierzęta</a></li>
        <li><a th:href="@{/employee}">Pracownicy</a></li>
        <li><a th:href="@{/documents}">Dokumenty</a></li>
        <li><a th:href="@{/tasks}">Zadania</a></li>
        <li><a href="#">Ustawienia</a></li>
        <li><form th:action="@{/logout}" method="post"><button type="submit">Wyloguj się</button>
        </form></li>
    </ul>
</nav>
<br><br>
<h1>Dodaj Pracownika:</h1>
<form th:action="@{/add-employee}" method="post" th:object="${employee}" enctype="multipart/form-data">
    <label for="name">Imię Pracownika:</label>
    <input type="text" id="name" th:field="*{name}" required>
    <label for="surname">Nazwisko:</label>
    <input type="text" id="surname" th:field="*{surname}" required>
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required>
    <label for="profession">Zawód:</label>
    <input type="text" id="profession" th:field="*{profession}" required>
    <label>Zdjęcie:</label>
    <input type="file" name="image">
    <label for="animals">Przypisz zwierzęta(opcjonalnie):</label>
    <select id="animals" th:field="*{animalIds}" multiple>
        <option th:each="animal : ${allAnimals}"
                th:value="${animal.id}"
                th:text="${animal.name} + ' (' + animal.species + ')'"></option>
    </select>
    <button type="submit">Dodaj Pracownika:</button>
</form>
<div th:if="${success}" style="color:green;">
    Pracownik został dodany
</div>
<div th:if="${error}" style="color:red;">
    Wystąpił błąd
</div>
<a th:href="@{/employee}">Zobacz naszych pracowników</a>


</body>
</html>