<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZooAnimal</title>
</head>
<body>
<h1>Wyszukaj:</h1>
<form th:action="@{/animals}" method="get">
    <input type="text" name="name" placeholder="Imię zwierzęcia" th:value="${name}">
    <input type="text" name="species" placeholder="Gatunek" th:value="${species}">
    <select name="currentVaccination">
        <option th:value="${null}" th:selected="${currentVaccination == null}">Wszystkie</option>
        <option th:value="true" th:selected="${currentVaccination == true}">Zaszczepione</option>
        <option th:value="false" th:selected="${currentVaccination == false}">Niezaszczepione</option>
    </select>
    <input type="text" name="employeeName" placeholder="Imię pracownika" th:value="${employeeName}">
    <input type="text" name="employeeSurname" placeholder="Nazwisko pracownika" th:value="${employeeSurname}">
    <button type="submit">Szukaj</button>
</form>
<h1>Twoje zwierzęta:</h1>
<h1>Nasze zwierzęta:</h1>
<table>

    <tr th:each="animal : ${animals}">
        <td>
            <a th:href="@{/animals/{id}(id=${animal.id})}" th:text="${animal.name}">Wejdź na profil</a>
        </td>
        <td th:text="${animal.name}"></td>
        <td th:text="${animal.species}"></td>
        <td th:text="${animal.currentVaccination} ? 'Zaszczepione' : 'Nie zaszczepione'"></td>
        <td>
            <span th:each="emp : ${animal.employees}" th:text="${emp.name + ' ' + emp.surname} + ', '"></span>
        </td>
        <td>
            <form th:action="@{/animals/delete/{id}(id=${animal.id})}" method="post">
                <button type="submit"
                        onclick="return confirm('czy napewno chcesz usunąć zwierzę?');">
                    Usuń
                </button>

            </form>
        </td>
        <td>
            <form th:action="@{/animals/vaccination/{id}(id=${animal.id})}" method="post">
                <input type="hidden" name="status" th:value="${!animal.currentVaccination}"/>
                <button type="submit"
                        th:text="${animal.currentVaccination} ? 'Nie zaszczepiony' : 'Zaszczep'">

                </button>
            </form>
        </td>
        <td>
            <form th:action="@{/animals/assign/{animalId}(animalId=${animal.id})}" method="post">
                <select name="employeeId" required>
                    <option th:each="emp : ${allEmployees}"
                            th:value="${emp.id}"
                            th:text="${emp.name + ' ' + emp.surname}">

                    </option>
                </select>
                <button type="submit">Przypisz</button>
            </form>
        </td>
    </tr>

</table>


</body>
</html>