<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zoo-Manager-Main</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<nav class="fixed-menu">
  <ul>
    <li><a th:href="@{/main}">Strona główna</a></li>
    <li><a th:href="@{/animals}">Zwierzęta</a></li>
    <li><a th:href="@{/employee}">Pracownicy</a></li>
    <li><a th:href="@{/documents}">Dokumenty</a></li>
    <li><a th:href="@{/tasks}">Zadania</a></li>
    <li><a th:href="@{/settings}">Ustawienia</a></li>
    <li><form th:action="@{/logout}" method="post"><button type="submit">Wyloguj się</button>
    </form>
    </li>
  </ul>
</nav>
<h2>Zmień email</h2>
<form action="/settings/change-email" method="post">
  <label>Nowy email:</label>
  <input type="email" name="newEmail" required>
  <label>Wpisz hasło</label>
  <input type="password" name="passwordConfirm" required>
  <button type="submit">Zmień email</button>
</form>
</body>
</html>