<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documents</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<nav class="fixed-menu">
    <ul>
        <li><a th:href="@{/main}">Strona główna</a></li>
        <li><a th:href="@{/animals}">Zwierzęta</a></li>
        <li><a th:href="@{/employee}">Pracownicy</a></li>
        <li><a th:href="@{/documents}">Dokumenty</a></li>
        <li><a th:href="@{/tasks}">Zadania</a></li>
        <li><a th:href="@{/settings}">Ustawienia</a></li>
        <li><form th:action="@{/logout}" method="post"><button type="submit">Wyloguj się</button>
        </form></li>
    </ul>
</nav>
<br><br>
<h1>Wyszukaj:</h1>
<form th:action="@{/documents}" method="get">
    <input type="text" name="title" placeholder="Tytuł dokumentu" >
    <input type="text" name="employeeName" placeholder="Imię pracownika">
   <input type="text" name="employeeSurname" placeholder="Nazwisko pracownika">
    <input type="datetime-local" name="createdAfter">
    <select name="category">
    <option value="">Wszystkie:</option>
    <option th:each="c : ${T(com.zooManager.zooManager.DocumentCategory).values()}"
            th:value="${c}"
            th:text="${c}">
    </option>
    </select>
    <button type="submit">Szukaj</button>

    <h1>Dokumenty:</h1>
</form>
    <table>
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Data utworzenia</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="document : ${documents}">
            <td th:text="${document.title}"></td>
            <td th:text="${#temporals.format(document.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            <td>

                <a th:href="@{/documents/{id}(id=${document.id})}">Zobacz</a>

                <form sec:authorize="hasAnyRole(T(com.zooManager.zooManager.configuration.Roles).ADMIN, T(com.zooManager.zooManager.configuration.Roles).LEADER_SHIFT)" th:action="@{/documents/delete/{id}(id=${document.id})}" method="post" style="display:inline;">
                    <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć dokument?');">
                        Usuń
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
<br><br>
<a class="add-button" th:href="@{/add-document}">Dodaj Dokument</a>
</body>
</html>