<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${document.title}">Szczegóły dokumentu</title>
  <link rel="stylesheet" href="../css/style.css">


</head>
<body>
<h1>AJOHGJAHJJIOHJ  MSWMOHOHMS SHK <br> akgksaokjokjjskojkookjokjokjokejopopjj</h1>
<nav class="fixed-menu">
  <ul>
    <li><a th:href="@{/main}">Strona główna</a></li>
    <li><a th:href="@{/animals}">Zwierzęta</a></li>
    <li><a th:href="@{/employee}">Pracownicy</a></li>
    <li><a th:href="@{/documents}">Dokumenty</a></li>
    <li><a th:href="@{/tasks}">Zadania</a></li>
    <li><a href="#">Ustawienia</a></li>
    <li><a href="#">Wyloguj się</a></li>
  </ul>
</nav>
<h1 th:text="${document.title}">Tytuł dokumentu</h1>
<p><strong>Dodany:</strong><span th:text="${#temporals.format(document.createdAt, 'yyyy-MM-dd HH:mm')}"></span> </p>
<p><strong>Treść:</strong></p>
<div th:text="${document.content}"></div>
<a th:href="@{/documents}">-Powrót do listy-</a>

</body>
</html>