<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZooAnimal</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<h1>AJOHGJAHJJIOHJ  MSWMOHOHMS SHK <br> akgksaokjokjjskojkookjokjokjokejopopjj</h1>
<nav class="fixed-menu">
    <ul>
        <li><a th:href="@{/main}">Strona główna</a></li>
        <li><a th:href="@{/animals}">Zwierzęta</a></li>
        <li><a th:href="@{/employee}">Pracownicy</a></li>
        <li><a th:href="@{/documents}">Dokumenty</a></li>
        <li><a th:href="@{/tasks}">Zadania</a></li>
        <li><a href="#">Ustawienia</a></li>
        <li><a href="#">Wyloguj się</a></li>
    </ul>
</nav>
<h1>Nasi pracownicy:</h1>
    <table>
        <thead>
        <tr>
            <th>Zdjęcie</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Zawód</th>
            <th colspan="3">Akcje</th>
        </tr>
        </thead>
        <tr th:each="employee : ${employees}">
            <td>
                <a th:href="@{/employee/{id}(id=${employee.id})}">
                    <img class="photo-profile" th:if="${employee.imagePath != null}"
                         th:src="@{/uploads/{img}(img=${employee.imagePath})}"
                         alt="Zdjęcie">
                    <img class="photo-profile" th:if="${employee.imagePath == null}"
                    src="/images/default-employee.png"
                         alt="brak zdjęcia">
                </a>
            </td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.surname}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.profession}"></td>
            <td>

                <form th:action="@{employee/delete/{id}(id=${employee.id})}" method="post">
                    <button type="submit"
                            onclick="return confirm('czy napewno chcesz usunąć pracownika?');">
                        Usuń
                    </button>
                </form>
            </td>
        </tr>
    </table>
<br><br>
<a class="add-button" th:href="@{/add-employee}">Dodaj pracownika</a>
</body>
</html>