<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoo-Manager-Main</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
<h1>AJOHGJAHJJIOHJ  MSWMOHOHMS SHK <br> akgksaokjokjjskojkookjokjokjokejopopjj</h1>
<nav class="fixed-menu">
    <ul>
        <li><a th:href="@{/main}">Strona główna</a></li>
        <li><a th:href="@{/animals}">Zwierzęta</a></li>
        <li><a th:href="@{/employee}">Pracownicy</a></li>
        <li><a th:href="@{/documents}">Dokumenty</a></li>
        <li><a th:href="@{/tasks}">Zadania</a></li>
        <li><a href="#">Ustawienia</a></li>
        <li><a href="#">Wyloguj się</a></li>
    </ul>
</nav>

</body>
</html>