<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoo-Manager-Main</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
<nav class="fixed-menu">
    <ul>
        <li><a href="#">Strona główna</a></li>
        <li><a href="#">Zwierzęta</a></li>
        <li><a href="#">Pracownicy</a></li>
        <li><a href="#">Dokumenty</a></li>
        <li><a href="#">Zadania</a></li>
        <li><a href="#">Ustawienia</a></li>
        <li><a href="#">Wyloguj się</a></li>
    </ul>
</nav>

</body>
</html>