<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ustawienia konta</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
<nav class="fixed-menu">
    <ul>
        <li><a th:href="@{/main}">Strona główna</a></li>
        <li><a th:href="@{/animals}">Zwierzęta</a></li>
        <li><a th:href="@{/employee}">Pracownicy</a></li>
        <li><a th:href="@{/documents}">Dokumenty</a></li>
        <li><a th:href="@{/tasks}">Zadania</a></li>
        <li><a th:href="@{/settings}">Ustawienia</a></li>
        <li><form th:action="@{/logout}" method="post"><button type="submit">Wyloguj się</button>
        </form>
        </li>
    </ul>
</nav>
<br>
<br>
<br>
<br>
<ul>
    <li><a href="/settings/change-password">Zmień hasło</a></li>
    <br>
    <li><a href="/settings/change-email">Zmień Email</a></li>
</ul>

</body>
</html>