<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<nav class="fixed-menu">
    <ul>
        <li><a th:href="@{/main}">Strona główna</a></li>
        <li><a th:href="@{/animals}">Zwierzęta</a></li>
        <li><a th:href="@{/employee}">Pracownicy</a></li>
        <li><a th:href="@{/documents}">Dokumenty</a></li>
        <li><a th:href="@{/tasks}">Zadania</a></li>
        <li><a href="#">Ustawienia</a></li>
        <li><form th:action="@{/logout}" method="post"><button type="submit">Wyloguj się</button>
        </form></li>
    </ul>
</nav>
<br><br>
<h1>Zadania</h1>
<table>
    <thead>
<tr>
    <th>Tytuł</th>
    <th>Opis</th>
    <th>Przypisany do</th>
    <th>Status</th>
    <th colspan="3">Akcje</th>
</tr>
    </thead>
<tr th:each="task : ${tasks}">
    <td th:text="${task.title}"></td>
    <td th:text="${task.description}"></td>
    <td>
        <a th:href="@{/employee/{employeeId}(employeeId=${task.assignedTo.id})}"
           th:text="${task.assignedTo.name + ' ' + task.assignedTo.surname}">
        </a>
    </td>
    <td th:text="${task.completed ? 'Wykonany' : 'Nie wykonany'}"></td>
    <td>
        <form th:action="@{/tasks/complete/{id}(id=${task.id})}" method="post" th:if="${!task.completed}">
            <button type="submit">Oznacz jako wykonany</button>
        </form>
        <form sec:authorize="hasAnyRole(T(com.zooManager.zooManager.configuration.Roles).ADMIN, T(com.zooManager.zooManager.configuration.Roles).LEADER_SHIFT)" th:action="@{/tasks/delete/{id}(id=${task.id})}" method="post">
            <button type="submit">Usuń</button>
        </form>
    </td>

</tr>
<h2 sec:authorize="hasAnyRole(T(com.zooManager.zooManager.configuration.Roles).ADMIN, T(com.zooManager.zooManager.configuration.Roles).LEADER_SHIFT)">Dodaj nowe zadanie</h2>
<form th:action="@{/tasks/add}" method="post">
    <label>Tytuł:</label>
    <input type="text" name="title" required><br>
    <label>Opis:</label>
    <textarea name="description"></textarea><br>

    <label sec:authorize="hasAnyRole(T(com.zooManager.zooManager.configuration.Roles).ADMIN, T(com.zooManager.zooManager.configuration.Roles).LEADER_SHIFT)">Przypisz do pracownika</label>
    <select name="employeeId" required>
        <option th:each="emp : ${employees}"
                th:value="${emp.id}"
                th:text="${emp.name + ' ' + emp.surname}">

        </option>
    </select><br>
    <button sec:authorize="hasAnyRole(T(com.zooManager.zooManager.configuration.Roles).ADMIN, T(com.zooManager.zooManager.configuration.Roles).LEADER_SHIFT)" type="submit">Dodaj zadanie</button>
</form>
</table>
</body>
</html>